@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
 .homepage-main-heading{
    margin-inline: auto;
    text-align: center;
    font-size: 3rem;
    position: relative;
    max-width: 100vw;
}
.homepage-main-heading:before{
    content: "";
    display: block;
    width: 500px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left:0;
    top:50%;
    overflow: hidden;
}
.homepage-main-heading:after{
    content: "";
    display: block;
    width: 500px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right:0;
    top:50%;
    overflow: hidden;
}