@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.c1{
    
}
.c2{
    background-color: snow;
}
.c3{
    color: Goldenrod;
    font-family:Algerian;
    font-size:1.8vw;
}
.c4{
    font-size: 1vw;
    color: black;
}
.img{
    height: auto;
    width: auto;
}
.card{
    
  
    background-color: darkgray;
}
.btn{
    color: black;
}