.c1{
    
}
.c2{
    background-color: black;
}
.c3{
    font-size: x-large;
    color: gold;
}
.c4{
    font-size: large;
    color: white;
}
.img{
    height: auto;
    width: auto;
}
.card{
    background-color: darkgray;
}
.btn{
    color: black;
}