@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.c1{
    
}
.c2{
    background-color: black;
}
.c3{
    color: gold;
}
.c4{
    font-size: large;
    color: white;
}
.img{
    height: auto;
    width: auto;
}
.card{
    
  
    background-color: darkgray;
}
.btn{
    color: black;
}