.a11{
    align-self:flex-end;
    color: white;
}
.a12{
    color: white;
    align-self:flex-end
}
.a2{
    background-color: black;
    align-self: center;
    height: 400px;
    width: 940px;
    font-size:x-large;
    font-family: 'Times New Roman';
}
.a3{

}
.i2{
    align-self: auto;
}

.T1{
    font-size: larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: gold;
}
