@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.text-white{
    color: white;
}
.info{
    align-self:center;
    font-family:Georgia;
    font-style: normal;
    font-size: x-large;
    color: azure;
 }
 .info1{
    align-self: center;
    font-family: 'georgia';
    font-size:1.3vw;
 }
.btn{
  
    color: black;
 }