.text-white{
    color: white;
}
.info{
    align-self:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: x-large;
    color: azure;
 }
 .info1{
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
 }
.btn{
  
    color: black;
 }