.body-bg{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    text-transform: uppercase;
    height: 90px;
    overflow: hidden;

}
.menus{
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
}
.menu ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.logo {
    align-items: center;
    justify-content: center;
    /* border: 2px solid red;  */
    
}
img{
    height:50px;
    width: 65px;
    display: inline-block;
    /* border: 2px solid gold; */
    margin-left: 32px;
}
p{
    /* border: 2px solid blue; */
}
.links{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    display: inline-block;
    height: 25px;
}
.links::after{
    content:'';    
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out ;
}
.links:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}