h1{
    text-align: center;
    margin: 100px auto;
    max-width: 550px;
    position: relative;
    color: white;
}
h1:before {
    background-color: #fff;
    display: block;
    width: 550px;
    height: 2px;
    content: "";
    position: absolute;
    left:-380px;
    top: 50%;
    z-index: -1;
}
h1:after{
    background-color: #fff;
    display: block;
    width: 550px;
    height: 2px;
    content: "";
    position: absolute;
    right:-380px;
    top: 50%;
    z-index: -1;
}