.logo{
    height: 2vw;
    width: 2vw;
    
}
.c3{
    font-size: larger;
    color: black;
    background-color: white;
    height: 13vw;
    width: 25vw;
}
.ct{
    font-family: Algerian;
    font-size: x-large;
    color:Goldenrod;
    
    
}
.text-center{
    color: white;
    background-color: black;
}