
.media{
    color: black;
}
.me-5 d-none d-lg-block{
    background-color: black;
}
.text-center text-md-start mt-5{
    background-color: black;
}
.mx-auto mb-4{
    font-size: x-large;
    color: white;
}
.text-center text-md-start mt-5{
    font-size: x-large;
    color: white;
}